body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900?nature,water,clouds');
}

.card {
    background: #000000d0;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    margin: 1em;
    max-width: 420px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}